/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 28, 2024, 3:12:39 PM
    Author     : Dell Latitude 7490
*/
body {
    background-color: #f8f9fa;
}

.navbar-brand img {
    width: 40px;
    height: 40px;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.container {
    margin-top: 60px;
}

.table {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th {
    background-color: #343a40;
    color: #fff;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}